body {
  font-family: Arial, sans-serif;
  background-color: #E38B28;
  background-image: url('Imagenes/5397533.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #333;
}

.menu-button {
  display: block;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  background-color: #f7e923;
  color: #333;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  margin: 10px;
  border: 2px solid #000;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: #f7cf23;
}

section {
  margin: 20px;
}

article img {
  max-width: 100%;
  height: auto;
  float: right;
  margin-left: 20px;
}

/* Estilos para las imágenes específicas */
article img[src="https://cdn.unenvironment.org/2022-05/shutterstock_708300100.jpg"] {
  max-width: 100%;
  height: auto;
  float: right;
  margin-left: 20px;
}

article img[src="https://cdn.unenvironment.org/2022-05/shutterstock_708300100.jpg"]::after {
  content: "";
  display: table;
  clear: both;
}

article p,
article h2,
article time {
  margin-bottom: 10px;
}

.article::after {
  content: "";
  display: table;
  clear: both;
}

header {
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
}

nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline; /* Cambiado de inline-block a inline */
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #f7e923;
  border: 2px solid #000;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #f7cf23;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #000;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

form div {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

/* Estilos para los elementos de formulario */
form input[type="text"],
form input[type="email"],
form input[type="number"],
form textarea,
form select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para el botón de envío del formulario */
form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #f7e923;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #f7cf23;
}

footer {
  text-align: center;
  padding: 20px 0;
}

footer a {
  text-decoration: none;
  color: #333;
}

/* Estilos para los enlaces dentro de párrafos */
p a.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f7e923;
  color: #333;
  border-radius: 20px;
  text-decoration: none;
  border: 2px solid #000;
  transition: background-color 0.3s ease;
}

p a.button-link:hover {
  background-color: #f7cf23;
}